name: Check

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  check-go-mod:
    name: Check Module Tidiness
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'
          check-latest: true
      - run: go mod tidy
      - run: git diff --exit-code --

  check-test-corpus:
    name: Check Test Corpus
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'
          check-latest: true
      - run: sudo apt-get install -qy squashfs-tools-ng
      - run: go run ./test/images/gen_images.go ./test/images
      - run: git diff --exit-code --

  check-release-config:
    name: Check Release Config
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'
          check-latest: true
      - uses: goreleaser/goreleaser-action@v6
        with:
          args: check
