name: Style

on:
  pull_request:
    branches: ['main']

jobs:
  lint-markdown:
    name: Lint Markdown
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - run: sudo npm install -g markdownlint-cli
      - run: markdownlint .

  lint-source:
    name: Lint Source
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: '~1.25.0'
      - uses: golangci/golangci-lint-action@v9
        with:
          version: v2.8
