name: Style

on:
  pull_request:
    branches: ['main']

jobs:
  lint-markdown:
    name: Lint Markdown
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - run: sudo npm install -g markdownlint-cli
      - run: markdownlint .

  lint-source:
    name: Lint Source
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'
          check-latest: true
      - uses: golangci/golangci-lint-action@v4
        with:
          version: v1.56
